body{
    font-family: serif;
}

.nav-bar {
    background: #234567;
    color: #eeeeee;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin:0 10px;
    position: sticky;
    top: 0;
    height: 40px;
    z-index: 1;
}

.block{
    padding: 10px;
    margin: 10px;
    background: burlywood;
}

.bar-right{
    position: absolute;
    right:0
}

.search-bar{
    margin-right: 10px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.search-bar input[type=text]{
    position: relative;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-bar input[type=text]:focus{
    width:240px;
}

.search-bar button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-bar button:hover{
    background: #ccc;
}

img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;	
}